.list-item{
    list-style-type: none;
    color: #0f0e0e;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 10px;
    height: 250px;
    width: 650px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(31, 31, 31, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    color: #0f0e0e;
}