
.popup-content{
    width: 450px !important;
}
.form-container{
    height: 100vh;
    width: 100%;
   
}
.title-input{
    border-radius: 5px;
    width: 320px;
    border:1px #a29c9c solid;
    padding:2px;
}
.update-button{
    background-color: transparent;
    border-width: 0px;
    align-self: flex-end;
}