/* index.css */
.New-blog-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;

  }
  
  .New-blog-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .New-blog-form form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
 

  .New-blog-form form div {
    margin-bottom: 15px;
    padding-top: 20px;
   
  }
  
  .New-blog-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .New-blog-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .New-blog-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .New-blog-form input[type="text"] {
    width: 100%;
  }

  @media screen and (min-width:769px) {
    .New-blog-form  textarea{
      height:80vh;
      width: 100% ;
      font-size: 10px;
  }
  .New-blog-form input{
    font-size: 12px;
  }
  .New-blog-form button{
    width: 80px;
  }
}