.header-container{
    background-color: #6a0ec9; 
    height: 20vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    color: #fff;
    margin-bottom: 20px;
    z-index: 1000;
}

.link-item{
    text-decoration: none;
    color: #fff;
}
.hamburger{
    display: none;
}
.hamburger-links-container{
    display: none;
}

.logo{
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    font-family: sans-serif;
    width: 50vw;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 45vw;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}
.nav-links li{
 width: 80px;
}

.active-tab li{
    text-decoration: underline;
   text-decoration-color: #fff;
}

@media screen and (max-width:769px) {
    .nav-links{
        display: none;
        
    }
    .header-container{
        display: flex;
        padding: 0px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
       
    }
    .logo h1{
        font-size: 18px;
    }
    .hamburger-links-container{
        list-style-type: none;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 40px 20px 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        
        color: #000;
    
    }
    .hamburger-links-container li{
        font-size: 12px;
        color: #000;
        font-weight: 500;
        
    }
   .cancel-btn{
    background-color: transparent;
    border-width: 0px;
    position: absolute;
     right: 20px;
     top: 100px;
   }
   .link-item{
    list-style-type: none;
   }
  
}

