.header-container{
    background-color: #6a0ec9; 
    height: 20vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    color: #fff;
    margin-bottom: 20px;
    z-index: 1000;
}

.link-item{
    text-decoration: none;
    color: #fff;
}
.hamburger{
    display: none;
}
.hamburger-links{
    display: none;
}

.logo{
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    font-family: sans-serif;
    width: 50vw;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 30vw;
    font-weight: 500;
}
.active-tab li{
    text-decoration: underline;
   text-decoration-color: #fff;
}

@media screen and (max-width:769px) {
    .nav-links{
        display: none;
        
    }
    .header-container{
        display: flex;
        padding: 0px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        align-self: flex-start;
    }
    .logo h1{
        font-size: 18px;
    }
    .hamburger-links{
        list-style-type: none;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 40px 20px 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
    
    }
    .hamburger-links li{
        font-size: 10px;
        
    }
   .cancel-btn{
    background-color: transparent;
    border-width: 0px;
   
   }
}

