.header-container{
    background-color: #ffffff; 
    height: 20vh;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    color: #000000;
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    z-index: 1000;
}

.logo{
    margin: 5px;
    padding: 5px;
    font-weight: 700;
    font-family: sans-serif;
    width: 50vw;
}
.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 25vw;
    font-weight: 500;
}