.footer-container{
    background-color: #000000;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    
}
.icons{
    gap: 10px;
}
.follow-us-section{
    padding: 10px;
}
.footer-container div h1{
    font-size: 20px;
    color: rgb(255, 255, 255,0.5);
    font-weight: 200px;
    font-family: Roboto;
    text-decoration: underline;
    
}
.footer-container div p{
    color: #fff;
    font-size: 18px;
}